.aboutContainer {
  padding-top: 20%;
  height: calc(100vh - 50px);
  background: rgb(238, 236, 236);
  padding: 100px 20px;
 
}
.aboutInfos{
  max-width: 1200px;
  display: flex;
  text-align: center;
  gap: 40px;
  margin: auto;
}

.Left {
  width: 100%;
  text-align: justify;
  flex: start;
}

.Left h1 {
    padding-bottom: 20px;
}
.Left p {
  padding-bottom: 40px;
  color: black;
}

.Right {
  width: 100%;
}

.Right img {
  width: 100%;
  height: 300px;
}
/* =================== MEDIA QUERIES (medium devices) =================== */

@media screen and (max-width: 1024px) {
  .aboutInfos{
    flex-direction: column;
  }
  .aboutContainer {
    height: 100%;
  }
  .Right img {
    height: 100%;
  }
}

/* =================== MEDIA QUERIES (small devices) =================== */

@media screen and (max-width: 600px) {
  .aboutInfos{
    flex-direction: column;
  }
  .aboutContainer {
    height: 100%;
  }
  .Right img {
    height: 100%;
  }
}
